In [3]:
import pandas as pd
import os

In [ ]:
data= pd.DataF

In [4]:
csv = os.path.join("Resources/Life_expectancy_data_Proj_1.csv")

In [5]:
pwd

'/Users/geetharajendram/Documents/Project-1_Topic_Mental_Health'

In [6]:
df = pd.read_csv(csv)

FileNotFoundError: [Errno 2] File Resources/Life_expectancy_data_Proj_1.csv does not exist: 'Resources/Life_expectancy_data_Proj_1.csv'

In [20]:
df.dropna(how='any')
df.dtypes

Country     object
Year         int64
Female     float64
Male       float64
Total      float64
dtype: object

In [21]:
df.head()

     Country  Year  Female   Male  Total
0  Australia  1921   63.18  59.10  60.97
1  Australia  1922   65.11  60.88  62.83
2  Australia  1923   63.66  59.98  61.68
3  Australia  1924   64.51  60.77  62.48
4  Australia  1925   65.38  61.30  63.17

In [22]:
df.count()

Country    323
Year       323
Female     323
Male       323
Total      323
dtype: int64

In [23]:
#Convert data types to relevant object
# df= df.astype{}, errors='raise'

In [24]:
life_df1 = df.loc[df["Year"] > 2007, ["Country", "Year", "Female", "Male", "Total"]]

In [25]:
life_df2 = life_df1.loc[life_df1["Year"] < 2019, ["Country", "Year", "Female", "Male", "Total"]]

In [26]:
life_df2.head(20)

       Country  Year  Female   Male  Total
87   Australia  2008   83.70  79.14  81.43
88   Australia  2009   84.00  79.44  81.73
89   Australia  2010   84.20  79.81  82.02
90   Australia  2011   84.25  79.92  82.09
91   Australia  2012   84.30  80.27  82.30
92   Australia  2013   84.62  80.47  82.55
93   Australia  2014   84.50  80.53  82.52
94   Australia  2015   84.62  80.57  82.60
95   Australia  2016   84.85  80.75  82.81
96   Australia  2017   84.75  80.69  82.72
97   Australia  2018   85.30  81.22  83.26
116      Chile  2008   81.20  75.19  78.24
117      Chile  2009   81.38  75.33  78.40
118      Chile  2010   81.00  75.22  78.15
119      Chile  2011   81.52  75.93  78.78
120      Chile  2012   81.39  76.07  78.79
121      Chile  2013   81.72  76.15  78.99
122      Chile  2014   81.78  76.30  79.09
123      Chile  2015   81.97  76.53  79.30
124      Chile  2016   82.13  76.89  79.57

In [105]:
# Use the code provided to separate the data by year
yr2008 = life_df2[(life_df2["Year"] == 2008)]
yr2009 = life_df2[(life_df2["Year"] == 2009)]
yr2010 = life_df2[(life_df2["Year"] == 2010)]
yr2011 = life_df2[(life_df2["Year"] == 2011)]
yr2012 = life_df2[(life_df2["Year"] == 2012)]
yr2013 = life_df2[(life_df2["Year"] == 2013)]
yr2014 = life_df2[(life_df2["Year"] == 2014)]
yr2015 = life_df2[(life_df2["Year"] == 2015)]
yr2016 = life_df2[(life_df2["Year"] == 2016)]
yr2017 = life_df2[(life_df2["Year"] == 2017)]
yr2018 = life_df2[(life_df2["Year"] == 2018)]

#Group by "Country" and take the mean of each of life expectancy disregarding gender.
mean_life_08 = yr2008.groupby(["Country"]).mean()["Total"]
mean_life_09 = yr2009.groupby(["Country"]).mean()["Total"]
mean_life_10 = yr2010.groupby(["Country"]).mean()["Total"]
mean_life_11 = yr2011.groupby(["Country"]).mean()["Total"]
mean_life_12 = yr2012.groupby(["Country"]).mean()["Total"]
mean_life_13 = yr2013.groupby(["Country"]).mean()["Total"]
mean_life_14 = yr2014.groupby(["Country"]).mean()["Total"]
mean_life_15 = yr2015.groupby(["Country"]).mean()["Total"]
mean_life_16 = yr2016.groupby(["Country"]).mean()["Total"]
mean_life_17 = yr2017.groupby(["Country"]).mean()["Total"]
mean_life_18 = yr2018.groupby(["Country"]).mean()["Total"]

#Data frame of life expectancy by country
life_ex_country_df = pd.DataFrame({"2008": mean_life_08,
    "2009": mean_life_09,
    "2010": mean_life_10,
    "2011": mean_life_11,
    "2012": mean_life_12,
    "2013": mean_life_13,
    "2014": mean_life_14,
    "2015": mean_life_15,
    "2016": mean_life_16,
    "2017": mean_life_17,
    "2018": mean_life_18})

life_ex_country_df

,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,
Australia,81.43,81.73,82.02,82.09,82.30,82.55,82.52,82.60,82.81,82.72,83.26
Chile,78.24,78.40,78.15,78.78,78.79,78.99,79.09,79.30,79.57,79.74,79.99
HongKong,82.03,82.59,82.80,83.24,83.28,83.84,83.94,84.15,84.31,84.72,85.05
Hungary,73.96,74.18,74.52,74.91,75.18,75.68,75.85,75.65,76.16,76.00,76.20
USA,78.17,78.52,78.71,78.76,78.87,78.88,78.94,78.79,78.76,78.73,78.88