In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import os

pov_file = "WB_Poverty_Data.csv"
life_ex_file = "Life_expectancy_data_Proj_1.csv"

pov_data_raw = pd.read_csv(pov_file)
life_ex_data = pd.read_csv(life_ex_file)

pov_data_raw.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Australia,AUS,Poverty headcount ratio at $2.15 a day (2017 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.5,NaN,0.5,NaN,0.5,NaN,NaN,NaN,NaN
1,Chile,CHL,Poverty headcount ratio at $2.15 a day (2017 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,0.5,NaN,0.4,NaN,0.3,NaN,NaN,0.7,NaN,NaN
2,"Hong Kong SAR, China",HKG,Poverty headcount ratio at $2.15 a day (2017 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hungary,HUN,Poverty headcount ratio at $2.15 a day (2017 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2,0.7,0.6,1.3,0.6,0.2,0.3,NaN,NaN,NaN
4,United States,USA,Poverty headcount ratio at $2.15 a day (2017 P...,SI.POV.DDAY,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,1.2,1.2,1.0,1.2,1.0,1.0,NaN,NaN,NaN

In [5]:
pov_data_clean = pov_data_raw[["Country Name", "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018"]]
pov_data_clean.head()

,Country Name,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Australia,0.4,NaN,0.3,NaN,NaN,NaN,0.5,NaN,0.5,NaN,0.5
1,Chile,NaN,1.7,NaN,0.9,NaN,0.5,NaN,0.4,NaN,0.3,NaN
2,"Hong Kong SAR, China",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Hungary,0.0,0.1,0.1,0.1,0.3,0.2,0.7,0.6,1.3,0.6,0.2
4,United States,1.0,1.0,1.0,1.0,1.0,1.0,1.2,1.2,1.0,1.2,1.0